<%- include('partials/header.ejs')%>
<h2 class="show-name">This is the official website for L+B clan- A group of gamers</h2>
<center><a href="/member-list"><button style="margin-bottom:5px;" class="btn btn-primary ">View members</button></a></center>
<img src="/files/L+B-logo.jpg" id="logo">

<%- include('partials/footer.ejs')%>